<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article.id)%></li>
    <li><%= article.content %></li>
  <% end %>
</ul>
<%= link_to 'ADD', new_article_path %>
